@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* max-width: 100vw; */
  /* max-height: 100vh; */
}

:root {
  --primaryColor: rgb(254, 107, 110);
}

/* HomePage */

.bg-main {
  background-color: var(--primaryColor);
}

.text-main {
  color: var(--primaryColor);
}

.navbar {
  /* color: #FBF9F1; */
  transition: 0.8s ease;
}

@media screen and (min-width: 768px) {
  .costum-navbar {
    background-color: #fff !important;
    box-shadow: 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d !important;
    padding: 5px 0 !important;
    position: fixed;
  }
}

@media (max-width: 768px) {
  .smm\:bg-black {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
  }

  .animate__fadeInDown ul.menu-phone {
    background: #565555;
  }
}

/* .navbar-scroll {
  color: black;
  transition: 0.8s ease;
} */

.seachbar {
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
}

.hover-img {
  transition: transform 0.3s ease-in-out;
  /* Tạo hiệu ứng mượt mà khi tăng kích thước */
}

.hover-img:hover {
  transform: scale(1.05);
  /* Tăng kích thước ảnh lên 10% khi hover */
}

.authLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/bgAuth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.authLayout #overlayCompo {
  width: 700px;
  height: fit-content;
  z-index: 1000;
  position: relative;
  border-radius: 6px;
  background-color: rgba(250, 235, 215, 0.85);
}

#overlayCompo .button1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  background-color: var(--primaryColor);
  color: black;
  transition: all .5s;
}

#overlayCompo .button1:hover {
  color: #f8f9fa;
  background-color: rgb(173, 73, 75);
}

@media (max-width: 735.95px) {
  .authLayout #overlayCompo {
    width: 100%;
    height: 100%;
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  position: absolute;
  animation: moveRightLeftCenter 1.25s infinite ease-in-out;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
  position: relative;
  overflow: hidden;
}

@keyframes moveRightLeftCenter {
  0% {
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(-100px);
  }
}

.btn-theme {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 6px;
  background-color: var(--primaryColor);
  color: black;
  font-size: large;
  font-weight: bold;
  transition: all .5s;
}

.btn-theme:hover {
  color: #f8f9fa;
  background-color: rgb(173, 73, 75);
}

.btn-rate {
  color: white;
  background-color: var(--primaryColor);
  transition: all .5s;
}

.btn-rate:hover {
  background-color: rgb(173, 73, 75);
}